/*Initialization CSS start*/
*{
    margin: 0;
    padding: 0
}
#wrap{
    background:  no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
em,i{
    font-style: normal;
}
li{
    list-style: none;
}
img{
    border: 0;
    vertical-align: middle;
}
button{
    cursor: pointer;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color:blue;
}
/*Initialization CSS Over*/
/*Header CSS Start*/
.header{
    height: 270px;
    width: 1280px;
    margin: 0 auto;
}
.header_left{
    float: left;
    line-height:120px;
}
.header_left img{
    height:200px;
    width: 300px;
}
.header_right{
    float: right;
    height: 120px;
    position: relative;
}
.header_right>div{
    position: absolute;
    right:0;
    top:0;
}
.header_right ul{
    margin-top: 188px;
}
.header_right ul a{
    float: left;
    line-height: 13px;
}
.header_right ul a li{
    border-right: 2px solid black;
    height: 13px;
    font-size: 15px;
    padding: 0 25px;
    font-weight: bold;
    color: #666;
}
.header_right .nav ul li:last-child{
    border: none;
}
/*Header CSS Over*/
/*HeaderSlideBarCSS Start*/
.show_list{
    position: relative;
}
.show_list .move_list{
    display: none;
    z-index: 100;
    position: absolute;
    top:-156px;
    left: -21px;
    background: #333;
    text-align: center;
}
.show_list .move_list li{
    padding: 15px 0;
    width: 120px;
    color: white;
}
.header_right ul a .show_list{
    padding-bottom: 20px;
    border-right: none;
}
.show_list:hover .move_list{
    display:block;
}
.show_list .move_list li:hover{
    color: white;
    background: orange;
}
/*HeaderSlideBarCSS Over*/
/*SlideshowCSS start*/
.banner{
    width: 1280px;
    min-width: 1080px;
    margin: 0 auto;
}
.banner_wrap{
    height: 600px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}
.banner_wrap .banner_img{
    height:100%;
    margin: 0 auto;
    width: 200%;
    position: relative;
}
.banner_wrap .banner_img li{
    float: left;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    position: absolute;
}
.clear_fix:after{
    content:'';
    display: block;
    clear: both;
}
.banner_wrap .banner_img li img{
    width: 100%;
    height: 100%;
}
.left_button{
    cursor: pointer;
    background: #fff;
    height: 71px;
    width: 71px;
    top:  55%;
    left: 12.5%;
    position: absolute;
}
.left_button img{
    height: 100%;
    width:  100%;
}
.right_button{
    cursor: pointer;
    background: #fff;
    height: 71px;
    width: 71px;
    top:55%;
    right: 12.5%;
    position: absolute;
}
.right_button img{
    height: 100%;
    width:100%;
}
/*SlideshowCSS Over*/
/*logo*/
.content_one,.content_one_final{
    width: 1280px;
    margin: 0 auto;
    height: 150px;
}
.content_one img,.content_one_final img{
    cursor: pointer;
    padding: 70px 35px;
}
.content_one_final img{
    position: relative;
    bottom: 150px;
    opacity: 0;
}
.content_one_final img:hover{
    opacity: 1;
}
/*logo finish*/
/**/
.content_two{
    width: 100%;
    background: gainsboro;
    text-align: center;
    height: 609px;
}
.content_header{
    width: 1040px;
    margin: 0 auto;
}
.content_header div:nth-child(2){
    margin-top: 20px;
    margin-bottom: 10px;
}
.content_header div:nth-child(3){
    padding-bottom: 40px;
}
.content_header div span{
    font-size:13px;
    color: #666
}
.mid{
    max-width: 1060px;
    margin: 0 auto;
}
.mid img{
    padding: 5px 5px 40px 5px;
}
.mid .bottom_img{
    position: relative;
    bottom: 370px;
}
.mid .bottom_img:hover{
    opacity: 0;
}
/**/
/**/
.content_three{
    width: 100%;
    height: 505px;
    background: url('../img/My third web/content_three.png') no-repeat;
    background-position: center;
}
.three_wrap{
    text-align: center;
    padding-top: 138px;
}
.three_wrap span{
    color: #666;
    font-size: 13px;
    display: block;
}
.three_wrap div:nth-child(2){
    margin-top:50px;
}
.bottom_text span:first-child{
    color: #000;
    font-size: 18px;
    font-family: SimSun;
    font-weight: bold;
}
.top_text span,.bottom_text span{
    color:#666;
    font-size: 13px;
    padding: 2px 0;
}
.top_text span:first-child{
    font-size: 16px;
}
.bottom_text span{
    font-size: 16px;
    font-family: SimSun;
    color: #000;
}
.bottom_text span:nth-child(3){
    font-weight: bold;
    font-size: 18px;
}
/**/
/**/
.four_wrap{
    padding-bottom: 120px;
    text-align: center;
}
.four_wrap img{
    margin-bottom: 40px;
}
.four_wrap >div img{
    margin-bottom: 4px;
}
.footer{
    background: #333;
    text-align: right;
}
.footer_wrap img{
    width: 125px;
    height: 125px;
}
.footer_wrap{
    width:1040px;
    margin: 0 auto;
    padding: 26px 0 32px 0;
}
.footer_text span{
    font-family: SimSun;
    font-size: 13px;
    color: #999;
}
.footer_text span:last-child{
    text-align: right;
    font-size: 13px;
    color: #fff;
    margin-left: 110px;
}
.footer_text span:nth-child(4){
    margin: 0 10px;
}
/**/